.unslider{overflow:auto;margin:0;padding:0}.unslider-wrap{position:relative}.unslider-wrap.unslider-carousel>li{float:left}.unslider-vertical>ul{height:100%}.unslider-vertical li{float:none;width:100%}.unslider-fade{position:relative}.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}.unslider-fade .unslider-wrap li.unslider-active{z-index:10}.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer}.unslider-arrow.next{left:auto;right:20px}

.unslider-nav{
display: block;
text-align: center;
}

.unslider-nav ol{
display: inline-flex;
white-space: nowrap;
}

.unslider-nav ol li{
	/* background: #c00; */
	color: #fff;
	padding: 0px;
	margin: 10px 2px 0px;
	border-radius: 50%;
	font-family: "FontAwesome";
	font-size: 15px;
	cursor: pointer;
}

.unslider-nav ol li:before {}

.unslider-nav ol li:before {}

.unslider-nav ol li.unslider-active{
	color: #fff;
}

.unslider-nav ol li:before{
	font-family: "FontAwesome";
	font-size: 15px;
	content: "\f10c";
	text-align: center;
}

.unslider-nav ol li.unslider-active:before{
	font-family: "FontAwesome";
	font-size: 15px;
	content: "\f111";
}