header{
	background-color: #424242;
	background-image: url(images/pattern.jpg );
	background-repeat: repeat;
	padding: 23px 0;
}

::selection {
    background: #d95b44;
    color: #fff;
}

.footer p {
    color: #899aa9;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 13px;
    margin-top: 15px;
    border-left: 1px dotted #536271;
    padding-left: 15px;
    height: 22px;
    padding-top: 3px;
}

.footer p.associado {
    float: right;
    border-left: 0px;
    padding-left: 0px;
    padding-right: 5px;
    font-size: 12px;
}

.footer .selos_mini {
    height: 24px;
    display: inline-block;
}

.footer .selos {
    height: 36px;
    margin: 5px;
    display: inline-block;
}

.page_sistemas .etapa_site li {font-family: "Raleway", Helvetica, Arial, sans-serif;font-size: 16px;font-weight: 500;margin-bottom: 7px;list-style: none;}

.page_sites .etapa_site h3 {font-family: "Montserrat", Arial, sans-serif;letter-spacing: -1px;font-size: 17px;margin-top: 0px;}

.page_sites .etapa_site p {
    font-size: 13px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

.page_sites .etapa_site {
    background: #f2f2f2;
    padding: 10px;
}

.page_sistemas .etapa_site {
    background: none;
    padding: 10px 0px;
}

.subheader {
    margin-bottom: 20px;
}

.page_sites .preco p {
    font-size: 16px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 300;
    font-family: "Roboto", Arial, sans-serif;
}

.page_sites .preco {
    margin-top: 40px;
    background: #a94442;
    padding: 10px;
    display: inline-block;
    border-radius: 7px;
}

.page_sites .preco h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.page_sites .preco h1 b {}

.page_header {
    margin-top: 30px;
}

.orcamento .opcoes b {
}

.orcamento .opcoes label {
    clear: both;
}

.orcamento .col-md-12 {
    padding: 0 5px;
}

.opcoes {
    /* overflow: hidden; */
    border-bottom: 1px dotted #999;
    margin-bottom: 14px;
}

.opcoes:last-child {
    border-bottom: 0px;
}

.orcamento .opcoes .form-group {
    margin-bottom: 10px;
}

.orcamento .opcoes .form-group:last-child {
    /* margin-bottom: 0px; */
}

.orcamento .opcoes .form-control {font-family: "Lato", Arial, sans-serif;font-size: 13px;padding: 0 8px;color: #666;border-radius: 0px;border: 1px solid #98c4da;outline: none;display: block !important;}

.orcamento .opcoes textarea.form-control {
    resize: none;
}

.orcamento .opcoes .form-control:focus {
    border: 1px solid #31708f;
    outline: none;
    box-shadow: none;
}

.conteudo .orcamento {
    background: #d5e1ea;
    overflow: hidden;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #31708f;
     /* Old browsers */
     /* FF3.6-15 */
     /* Chrome10-25,Safari5.1-6 */
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* background: #d5e1ea; */ /* Old browsers */
    background: -moz-linear-gradient(top, #d5e1ea 0%, #f4f4f4 100%); /* FF3.6-15 */
    /* background: -webkit-linear-gradient(top, #d5e1ea 0%,#f4f4f4 100%); */ /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom, #d5e1ea 0%,#f4f4f4 100%); */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e1ea', endColorstr='#f4f4f4',GradientType=0 );
}

.conteudo .orcamento h2 {
    margin-top: 10px;
    font-family: "Roboto", Arial, sans-serif;
    color: #286090;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
}

.conteudo .orcamento h1 {
    margin-top: 0px;
    text-align: center;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 29px;
    font-weight: 500;
    margin-bottom: 0px;
}

.conteudo .orcamento h1 i {
    color: #d95b42;
    margin-right: 6px;
}

.porfolio_detalhes p {font-family: "Raleway", Arial, sans-serif;font-size: 15px;font-weight: 400;}

.portfolio_detalhes p {}

.contato .alert {font-family: "Raleway", Arial, sans-serif;font-weight: 500;font-size: 15px;padding: 10px;}

.contato .alert i {
    font-size: 20px;
    margin-right: 4px;
}

.contato .form-control {
    border: 2px solid #d3d8da;
    color: #747575;
    background: #f5f5f5;
    font-size: 15px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    padding: 8px 12px;
    line-height: 1.467;
    border-radius: 6px;
    box-shadow: none;
    -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.contato .form-control:focus {
    border: 2px solid #aaa;
    background: #fff;
}

.contato select.form-control {
    padding: 3px 8px;
}

.contato textarea.form-control {
    resize: none;
}

.contato .txt_label {
    text-align: right;
    padding-right: 8px;
    line-height: 118%;
    margin-top: 10px;
}

.form-group {display: flex;}

.contato label {font-family: "Raleway", "Lato", Arial, sans-serif;font-size: 14px;font-weight: 500;color: #979797;}

.noPadding {
    padding: 0px;
}

.page_sites .o_gerenciador {}

.page_sites .como_funciona {
    margin-bottom: 30px;
}

.noPadding-left {
    padding-left: 0px;
}

.noPadding-right {
    padding-right: 0px;
}

.conteudo .valor {
    margin-bottom: 20px;
}

.conteudo .valores .titulo {
    /* padding-left: 10px; */
    font-size: 20px;
    font-family: "Roboto", Arial, sans-serif;
    letter-spacing: -0.5px;
    vertical-align: middle;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    margin-top: 12px;
    min-height: 50px;
}

.conteudo .valores .valor:hover .icone, .conteudo .valores .icone {
    background: #286090;
    color: #fff;
}

.conteudo .valores .icone {
    background: #fff;
    overflow: hidden;
    padding: 0px;
    border-radius: 50%;
    color: #286090;
    border: 5px solid #ccc;
    text-align: center;
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.conteudo .valores .icone i:before {
    font-size: 42px !important;
}

.conteudo h2 {
    color: #2b3439;
    font-size: 23px;
    font-family: "Montserrat", Arial, sans-serif;
    letter-spacing: -1px;
    font-weight: 500;
    margin-top: 40px;
    line-height: 27px;
    margin-bottom: 15px;
}

.page_sites h2.sub-header {font-family: "Roboto", Arial, sans-serif;font-weight: 300;font-size: 27px;margin-top: 10px;color: #28b92b;}

.contato h2 {
    margin-top: 0px;
}

.conteudo {
    margin-top: 40px;
    margin-bottom: 40px;
}

.conteudo h1 {
    margin-top: 0px;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 28px;
    letter-spacing: -2px;
    text-transform: uppercase;
    font-weight: 600;
}

h1.sub_titulo {font-family: "Roboto", Arial, sans-serif;letter-spacing: -1px;text-transform: initial;font-weight: 300;}

.page_sistemas h1.sub_titulo {
    margin-bottom: 20px;
}

.contato h1 {
    margin-bottom: 25px;
}

.conteudo p {font-family: "Raleway", Arial, sans-serif;font-weight: 500;font-size: 15px;color: #676b6e;/* text-align: justify; */margin: 0 0 15px;line-height: 23px;}

.contato p b {font-family: "Roboto", Arial, sans-serif;}

.box-titpage {
    background: url(images/bg_header2.png);
    color: #fff;
    padding: 25px 0;
}

.box-titpage h1 {
    margin: 0px;
    font-size: 23px;
    font-weight: 300;
    font-family: "Roboto", Arial, sans-serif;
}

.banner_page, .img_banner {
    height: 246px;
}

.btn.btn-vertodos {
    background: #286090;
    color: #fff;
    font-family: "Raleway", "Roboto", Arial, sans-serif;
    padding: 8px 10px;
    font-weight: 500;
}

.btn.btn-vertodos:hover {
    background: #337ab7;
}

.btn.btn-vertodos i {
    font-size: 18px;
    margin-right: 4px;
}

.box-arrow .btn {
    margin-top: 30px;
}

.portfolio .projeto .overlay {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(41,128,185,0.9);color: #fff;padding: 50%;padding: 50%;}

.box-arrow .nossos_servicos div {
    padding: 5px 15px 10px;
    border-left: 1px dashed #e5e6e7;
}

.box-arrow .nossos_servicos div:first-child {
    border-left: 0px;
}

.clientes .scroll_clientes .cliente img {
    /* border: 1px solid #ddd; */
}

.nossos_servicos .imagem {
    padding: 0px;
    border-left: 0px !important;
}

.nossos_servicos h1 {
    margin-top: 0px;
    font-size: 21px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
    color: #333;
    font-weight: 400;
    text-transform: uppercase;
}

.nossos_servicos h1 b {
    font-weight: 600;
}

.nossos_servicos i{display: block;margin: -7px;color: #717171;}

footer .social h3 {font-family: 'Montserrat','Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 16px;margin-top: 0px;color: #fff;}

footer .social h3 b {
    color: #59a4e4;
    font-weight: 400;
}

footer .about img {
    height: 50px;
    margin-bottom: 20px;
}

footer .about p {
    font-size: 13px;
    font-family: "Roboto", Arial, sans-serif;
}

footer {
    background: #2e373e;
    padding: 30px 0;
    color: #ccc;
}

footer b {
    color: #57a0d4;
}

footer .btn {font-family: "Roboto", Arial, sans-serif;font-size: 13px;padding: 6px 8px;border-radius: 0px;margin-top: 1px;}

footer .form-control {
    border: 1px solid #333;
    border-radius: 0px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 13px;
    padding: 5px 8px;
    outline: none;
}

footer .form-control:focus {
    outline: none;
    border: 1px solid #000;
    box-shadow: none;
    background: #eee;
    color: #333;
}

div.footer {
    background: #1a1f24;
    height: 64px;
    clear: both;
    padding: 10px 0;
}

footer p {font-family: "Lato", Arial, sans-serif;font-size: 13px;}

footer a.redes_sociais {
    color: #ccc;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    margin-right: 4px;
}

footer a.redes_sociais:hover {
    color: #58acd6;
}

footer .row_blog .img_noticia {
    padding-right: 0px;
}

footer .row_blog {
    margin-bottom: 10px;
}

footer .row_blog .tit_noticia p {font-family: "Lato", Arial, sans-serif;font-size: 11px;margin-bottom: 0px;}

footer .row_blog .tit_noticia a {font-family: "Lato", Arial, sans-serif;font-size: 12px;color: #59a4e4;display: block;}

footer .tit_noticia {
}

footer li:before {font-family: "FontAwesome";font-size: 15px;content: "\f105";color: #59a4e4;margin-right: 5px;}

footer ul {padding: 0px;list-style: none;}

footer ul li a {
    color: #aaa;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
}

footer ul li a:hover {
    color: #72beff;
    text-decoration: none;
}

.clientes .scroll_clientes .cliente {
    padding: 0 5px;
}

.clientes .scroll_clientes {
    margin: 13px 0 13px;
}

.portfolio {
    margin-top: 30px;
}

.portfolio .caption {
    margin-bottom: 20px;
    padding: 0 2px;
    clear: both;
    position: relative;
}

.portfolio .projeto .caption .label {
    background: #286090;
    font-size: 12px;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 500;
}

.portfolio .projeto .caption h3 {
    font-size: 15px;
    margin-top: 8px;
    font-family: 'Montserrat','Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: -0.5px;
    margin-bottom: 3px;
}

.portfolio .projeto .caption p {font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serifsans-serif;font-size: 13px;font-weight: 400;}

.portfolio a.thumbnail {
    padding: 3px;
    background: #d2d2d2;
    border: 0px;
    margin-bottom: 0px;
}

a.thumbnail {}

.portfolio a.thumbnail:hover {
    background: #337ab7;
}

.portfolio a.thumbnail:hover, .portfolio .overlay {
}

.portfolio .projeto {
    padding: 0 10px;
}

.portofolio-categorias{

}

.portofolio-categorias .btn{font-family: "Roboto", Arial, sans-serif;font-weight: 400;font-size: 13px;border: 1px solid #ccc;/* background: #eee; */color: #999;}

.portofolio-categorias .btn.active, .portofolio-categorias .btn:hover{
	
background: #31708f;
	
color: #fff;
	
border: 1px solid #23566f;
}

.porfolio_detalhes{
margin: 40px 0;
}

.porfolio_detalhes img {
    border: 1px solid #ccc;
    margin-right: 0px !important;
}

.porfolio_detalhes h1 {font-family: "Raleway", Arial, sans-serif;font-size: 30px;font-weight: 600;margin-top: 0;}

.top_contact{
	color: #999;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
}

.top_contact a {
    color: #aaa;
    font-size: 20px;
    margin-right: 3px;
}

.top_contact a:hover {
    color: #fff;
}

/* Menu Principal */
.ddsmoothmenu {
    background: transparent scroll;
    width: auto;
    padding: 0;
    margin: 0;
}

.ddsmoothmenu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background: transparent;
    box-shadow: none;
    z-index: 100;
}

.ddsmoothmenu ul li {
    padding: 0;
    margin: 0;
    border: none;
    position: relative;
    display: inline;
    float: left;
}

.ddsmoothmenu ul li a {
    font-size: 12px;
    color: #a7a7a7;
    font-weight: normal;
    line-height: 1em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    margin-left: 1px;
    background: transparent;
    text-shadow: 0px 1px 0px #000;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    padding: 10px;
}

.ddsmoothmenu ul li a {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #a7a7a7;
}

.ddsmoothmenu ul li.destaque a {
    color: #d95b44;
}

.ddsmoothmenu ul li.destaque a:hover {
    background: #d95b44;
}

.ddsmoothmenu ul li.current-menu-item a, .ddsmoothmenu ul li a:hover {
    background: #484848;
    color: #fff !important;
}

.ddsmoothmenu ul li.current-menu-item a, .ddsmoothmenu ul li a:hover, .ddsmoothmenu ul li:hover > a, .ddsmoothmenu li.current-menu-ancestor > a {
    background: #484848;
    -moz-box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: none;
}

.ddsmoothmenu ul li ul {
    background: #484848;
    margin-top: 0px;
    position: absolute;
    left: 0;
    display: none;
    visibility: hidden;
    box-shadow: none !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.ddsmoothmenu ul li:hover ul{
	display: initial;
	visibility: visible;
}

.ddsmoothmenu ul li ul li {
    background: url(images/header-nav-item-divider.png) repeat-x bottom;
    box-shadow: none !important;
    display: list-item;
    float: none;
    padding: 2px 0;
}

.ddsmoothmenu ul li ul li a {
    width: 180px;
    line-height: 1em;
    font-size: 14px !important;
    text-transform: none;
    box-shadow: none !important;
}

.ddsmoothmenu ul li ul li.current-menu-item a, .ddsmoothmenu ul li ul li a:hover {
    color: #fff !important;
}

/* Slider */
.slider{
	background: url(images/slider_bg.jpg) top center;
	min-height: 450px;
}

/* Services */
.services{
	padding: 30px 0;
	min-height: 100px;
	/* border-top: 1px solid #888; */
	margin-bottom: 20px;
	/* background: #eee; */
}
/*
.services:before {
    z-index: 0;
    clear: both;
    content: '';
    left: 50%;
    width: 40px;
    margin-top: -46px;
    height: 40px;
    background: #fff;
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 8px;
    transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
}
*/

.services h2{color: #286090;font-weight: 500;margin-right: 12px;margin-bottom: 5px;margin-top: 0px;letter-spacing: -2px;font-size: 32px;font-family: 'Montserrat','Helvetica Neue', Helvetica, Arial, sans-serif;}

.services p{
	color: #afafaf;
	line-height: 22px;
	margin-bottom: 0;
	font-size: 18px;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

.box-arrow{
	padding: 20px;
	background: #fff;
	overflow: auto;
	/* border-radius: 8px; */
}

.box-arrow .container {
    z-index: 1;
    position: relative;
}

.box-arrow:after {
    z-index: 0;
    clear: both;
    content: '';
    left: 50%;
    width: 40px;
    margin-top: -3px;
    height: 40px;
    background: #fff;
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 8px;
    transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
}

.box-arrow h2{color: #666;font-weight: 400;margin-right: 12px;margin-bottom: 15px;margin-top: 0px;letter-spacing: -2px;font-size: 26px;font-family: 'Montserrat','Helvetica Neue', Helvetica, Arial, sans-serif;}

.box-arrow h2 b {
    display: block;
    font-size: 33px;
    letter-spacing: -2px;
    color: #337ab7;
}

.box-arrow p{
	color: #666;
	line-height: 22px;
	/* margin-bottom: 0; */
	font-size: 14px;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
}

.clientes{
	padding: 60px 0;
	background: url(images/empresa_bg2.jpg) top center;
	/* margin-bottom: 20px; */
	/* background: #fff; */
}

.clientes h2{color: #fff;font-weight: 500;margin-right: 12px;margin-bottom: 5px;margin-top: 0px;letter-spacing: -2px;font-size: 32px;font-family: 'Montserrat','Helvetica Neue', Helvetica, Arial, sans-serif;}

.clientes p{
	color: #ccc;
	line-height: 22px;
	margin-bottom: 0;
	font-size: 18px;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}