    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 20:12
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-cell-phone:before { content: "\f100"; }
.flaticon-clock:before { content: "\f101"; }
.flaticon-first-place-medal:before { content: "\f102"; }
.flaticon-hands:before { content: "\f103"; }
.flaticon-hosting:before { content: "\f104"; }
.flaticon-interface:before { content: "\f105"; }
.flaticon-lightbulb-idea:before { content: "\f106"; }
.flaticon-money:before { content: "\f107"; }
.flaticon-people:before { content: "\f108"; }
.flaticon-responsive-design-symbol:before { content: "\f109"; }
.flaticon-shopping-basket:before { content: "\f10a"; }
.flaticon-thumb:before { content: "\f10b"; }
.flaticon-time:before { content: "\f10c"; }
.flaticon-time-1:before { content: "\f10d"; }
.flaticon-web:before { content: "\f10e"; }
    
    $font-Flaticon-cell-phone: "\f100";
    $font-Flaticon-clock: "\f101";
    $font-Flaticon-first-place-medal: "\f102";
    $font-Flaticon-hands: "\f103";
    $font-Flaticon-hosting: "\f104";
    $font-Flaticon-interface: "\f105";
    $font-Flaticon-lightbulb-idea: "\f106";
    $font-Flaticon-money: "\f107";
    $font-Flaticon-people: "\f108";
    $font-Flaticon-responsive-design-symbol: "\f109";
    $font-Flaticon-shopping-basket: "\f10a";
    $font-Flaticon-thumb: "\f10b";
    $font-Flaticon-time: "\f10c";
    $font-Flaticon-time-1: "\f10d";
    $font-Flaticon-web: "\f10e";