	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/06/2016 21:37
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 60px;
  font-style: normal;
  /* margin-left: 20px; */
}

.flaticon-cell-phone:before { content: "\f100"; }
.flaticon-clock:before { content: "\f101"; }
.flaticon-first-place-medal:before { content: "\f102"; }
.flaticon-hands:before { content: "\f103"; }
.flaticon-hosting:before { content: "\f104"; }
.flaticon-interface:before { content: "\f105"; }
.flaticon-lightbulb-idea:before { content: "\f106"; }
.flaticon-money:before { content: "\f107"; }
.flaticon-people:before { content: "\f108"; }
.flaticon-responsive-design-symbol:before { content: "\f109"; }
.flaticon-shopping-basket:before { content: "\f10a"; }
.flaticon-thumb:before { content: "\f10b"; }
.flaticon-time:before { content: "\f10c"; }
.flaticon-time-1:before { content: "\f10d"; }
.flaticon-web:before { content: "\f10e"; }